div
  display: table
  padding: 10px 0 10px 28px
  position relative

  &:before
    content: ''
    display: table
    width: 10px
    height: 10px
    background: #00a53b
    position: absolute
    top: 50%
    left: 0
    border-radius: 50%

  h2
    color: #2e698e
    font-size: 18px

  p
    padding 0

    &:nth-child(2)
      font-size: 16px
