<div id="main-face">
  <span [formGroup]="control" id="rangers">
    <p>
      <i class="fas fa-arrows-alt-h"></i>
      <input
        id="scroll-x"
        formControlName="sizeX"
        (mousemove)="changeSizeX()"
        type="range"
        orient="vertical"
        min="500"
        max="1500"
      />
    </p>
    <p>
      <i class="fas fa-arrows-alt-v"></i>
      <input
        formControlName="sizeY"
        id="scroll-y"
        type="range"
        orient="vertical"
        min="500"
        max="1500"
      />
    </p>
    <p>
      <i class="fas fa-sync-alt"></i>
      <input
        formControlName="rotate"
        id="scroll-deg"
        type="range"
        orient="vertical"
        min="500"
        max="1500"
      />
    </p>
  </span>
  <img src="/assets/img/base.png" draggable="false" alt="Vitor Zortéa" />
  <app-face-part
    *ngFor="let part of parts"
    [part]="part"
    id={{part.id}}
    class="face-part"
    (mousedown)="move($event, part)"
  ></app-face-part>
  <span id="botoes">
    <button (click)="changeSelect('duplo', 2)">
      <img src="/assets/img/btn-1.png" alt="Sombrancelha">
    </button>
    <button (click)="changeSelect('duplo', 0)">
      <img src="/assets/img/btn-2.png" alt="Olho">
    </button>
    <button (click)="changeSelect('unico', 4)">
      <img src="/assets/img/btn-3.png" alt="Nariz">
    </button>
    <button (click)="changeSelect('unico', 5)">
      <img src="/assets/img/btn-4.png" alt="Boca">
    </button>
  </span>
</div>
