<p>
  <span>
    <i class="fab fa-html5"></i>
    HTML 5
  </span>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
</p>
<p>
  <span>
    <i class="fab fa-css3"></i>
    CSS 3
  </span>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
</p>
<p>
  <span>
    <i class="fab fa-js-square"></i>
    JavaScript
  </span>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
  <i class="far fa-square"></i>
</p>
<p>
  <span>
    <i class="fab fa-sass"></i>
    Sass (e outros)
  </span>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
  <i class="far fa-square"></i>
</p>
<p>
  <span>
    <i class="fab fa-php"></i>
    PHP
  </span>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
  <i class="far fa-square"></i>
  <i class="far fa-square"></i>
  <i class="far fa-square"></i>
</p>
<p>
  <span>
    <i class="fab fa-angular"></i>
    Angular
  </span>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
  <i class="far fa-square"></i>
</p>
<p>
  <span>
    <i class="fab fa-wordpress"></i>
    Wordpress
  </span>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
  <i class="fas fa-square"></i>
  <i class="far fa-square"></i>
</p>
