i
  font-size: 22px
  display: inline-table
  vertical-align: middle
p
  display: flex
  align-items: center
  span
    padding: 5px 8px 5px 0
    flex: auto
    i
      font-size: 34px
      padding-right: 5px
      color: #008438
  &>i
    color: #38bba3
    &.fas
      color: #009e3a
