<div id="me-sims" onselectstart="return false">
  <div id="tracos">
    <div id="name-box">
      <img src="/assets/img/icon-sims.png" draggable="false" alt="Icon Sims" />
      <input type="text" placeholder="Meu Nome" value="Vitor Zortéa" />
    </div>
    <img src="/assets/img/tracos.png" draggable="false" alt="Traços" />
  </div>
  <app-face-control></app-face-control>
  <div id="info-vitor">
    <h1><img src="/assets/img/logo.png" draggable="false" alt="Me Sims" /></h1>
  </div>
  <footer>
    <button id="full-vitor" (click)="resetface()">
      <img src="/assets/img/full-vitor.png" draggable="false" alt="Vitor Zortéa" />
    </button>
    <div id="menu">
      <a href="#" target="_blank"><i class="fab fa-github-square"></i></a>
      <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="#" target="_blank"><i class="fab fa-whatsapp-square"></i></a>
    </div>
  </footer>
</div>
