@media screen and (max-width: 768px)
  #me-sims
    flex-direction: column
    overflow hidden

    #tracos>img
      display: none

    app-face-control
        margin: 0 auto

    #main-face #rangers.select
      transform: translate(0%, -50%);

    #info-vitor>div
      none !important
      &>h1
        display: none !important

    footer#footer
      margin-top: 20px
      position: static !important

      #menu
        position: static
        transform: translate(0, 10px)
